svg {
  display: block;
  width: 100%;
  height: 100vmin;
  overflow: visible;
}

svg .country {
  stroke: #EEF1F8;
  stroke-width: 1px;
}

svg .country:hover {
  stroke: black;
  cursor: pointer;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 0 50px 150px;
  text-align: center;
}

.currentUTC {
  cursor: pointer;
}

.gutter {
  margin-top: 20px;
  margin-bottom: 2rem;
  padding-left: 20px;
  padding-top: 20px;
  overflow: hidden;
}

.tooltip {
  position: fixed;
  z-index: 2;
  top: 20%;
  right: 10%;
}

table {
  border-spacing: 0;
  background-color: #fff;
}
th, td {
  border: 1px solid #bbb;
}

tr > td:first-child{
  text-align: left;
}

